<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314416989207-c8qa9o9agv5j02j8o34ko8istbt2sfft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314416989207-c8qa9o9agv5j02j8o34ko8istbt2sfft</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>314416989207-ihcair3nfblth1q11cn7p0ovev6jc88k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAonAEDXlc1MdnqLgzcfaqkX7V6i4pJeM</string>
	<key>GCM_SENDER_ID</key>
	<string>314416989207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poopai</string>
	<key>PROJECT_ID</key>
	<string>poop-ai-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>poop-ai-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314416989207:ios:46ffe4abeb7abac9d24852</string>
</dict>
</plist>